$color_1: rgb(56, 62, 59);

#tehnic_bar{
    position: fixed;
    width: 205px;
    background: $color_1;
    color: white;
    height: 100%;
}

.tehnic_bar_spis{
    margin-bottom: 12px;
}

.tehnic_bar_spis_osn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.tehnic_bar_img{
    position: relative;
    top: 15px;
    height: 20px;
}

.tehnic_bar_button{
    margin-top: 15px;
    background-color: $color_1;
    color: white;
    border: none;
    width: 140px;
    
}
.tehnic_bar_button:active{
    color: hsl(155, 14%, 55%);;
}

#tehnic_heading{
    display: flex;
    position: relative;
    justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
}